html
	head
		meta(charset="utf-8")

		title Запросы
		
		script(src="/public/scripts/jquery.js")
		script(src="/public/scripts/main.js")
	body
		h1(align="center")  ЗАПРОСЫ

		a(href="http://localhost:3000/6")
			button(align="center") Средняя оценка на факультете

		a(href="http://localhost:3000/8")
			button(align="center") Оценки, выставляемые преподавателем

		a(href="http://localhost:3000/9")
			button(align="center") Загруженность преподавателей на кафедре



		p
		a(href="http://localhost:3000/main")
			button(align="center") На гл.страницу
			
