html
	head
		meta(charset="utf-8")

		title TestSite
		
		script(src="/public/scripts/jquery.js")
		script(src="/public/scripts/main.js")
	body
		table
			thead
				td Предмет
				td Преподаватель
				td Оценка
				td Дата сдачи
			tbody
				for str in strs
					tr
						td #{str[0]}
						td #{str[1]}
						td #{str[2]}
						td #{str[3]}
						
						
		input( type="text" id="Predmet")
		input( type="text" id="Prepod")
		input( type="text" id="Ocenka")
		input( type="text" id="date")
		button(align="center") Изменить
		
		p
		a(href="http://localhost:3000/main")
			button(align="center") На гл.страницу
			a(href="http://localhost:3000/2")
				button(align="center") Назад