html
	head
		meta(charset="utf-8")

		title TestSite
		
		script(src="/public/scripts/jquery.js")
		script(src="/public/scripts/main.js")
	body

		h1(align="center")  СПбГЭТУ "ЛЭТИ"

		
		table
			tbody
				tr
					td
						a(href="http://localhost:3000/2")
							button(align="center") Информация о студентах
				tr
					td
						a(href="http://localhost:3000/3")
							button(align="center") Информация о преподавателях и предметах 
				tr
					td
						a(href="http://localhost:3000/4")
							button(align="center") Статистические запросы
				tr
					td
						a(href="http://localhost:3000/Facultets")
							button(align="center") Факультеты
				tr
					td
						a(href="http://localhost:3000/Kafedras")
							button(align="center") Кафедры

		p
		p

		table(style="border: solid 1px")
			tbody
				tr
					td Импорт
					td Экспорт
				tr
					td
						form(action="/upload" enctype="multipart/form-data" method="post" accept=".json")
									p Загрузите json-файл БД
									p
										input(type="file" name="filedata")
									p
										input(type="submit")
					td
						form(action="/download" method="post")
							p
								input(type="submit")
					
		
		
