html
	head
		meta(charset="utf-8")

		title TestSite
		
		script(src="/public/scripts/jquery.js")
		script(src="/public/scripts/main.js")
	body

		h1(align="center")  СПбГЭТУ "ЛЭТИ"

		form(action="/upload" enctype="multipart/form-data" method="post" accept=".json")
			p Загрузите json-файл БД
			p
				input(type="file" name="filedata")
			p
				input(type="submit")
		
		
		form(action="/download" method="post")
			p
				input(type="submit")
		
		h1(align="center" '\n') Информация о студентах 
		p
		a(href="http://localhost:3000/2")
			button(align="center") Выбрать
		h1(align="center") Информация о преподавателях и предметах 
		p
		a(href="http://localhost:3000/3")
			button(align="center") Выбрать
		h1(align="center") Запросы
		p
		a(href="http://localhost:3000/4")
			button(align="center") Выбрать
			
			
		
		